<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAksaZUvQgw9FgTND4N1s-BFcLhHs-kCq0</string>
	<key>GCM_SENDER_ID</key>
	<string>729694504381</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.newUtibuHealthApp</string>
	<key>PROJECT_ID</key>
	<string>new-utibu-health-app</string>
	<key>STORAGE_BUCKET</key>
	<string>new-utibu-health-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:729694504381:ios:45918b2c38e4f773b5bed4</string>
</dict>
</plist>